<form role="form">
  <div class="form-group">
    <label for="path">User Name</label>
    <input type="text" class="form-control" id="path" ng-model="config.user" placeholder="Enter User (username)">
  </div>
  <div class="form-group">
    <label for="path">Organisation</label>
    <input type="text" class="form-control" id="path" ng-model="config.org" placeholder="(Optional) Enter Organisation">
  </div>
  <div class="form-group">
    <label for="path">Access Token</label>
    <input type="text" class="form-control" id="path" ng-model="config.accessToken">
  </div>
</form>
